@font-face {
    font-family: 'Montserrat-500';
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: 'Montserrat-700';
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: 'Fraunces-700';
    src: url(../fonts/Fraunces_144pt-Bold.ttf);
}

:root {
    --body-background: #f2eae2;
    --card-background: #fff;
    --btn-background: #3d8168;

    --text-color: #6c7289;
    --title-color: #1c232b;

    --primary-font: 'Montserrat-500', sans-serif;
    --secondary-font: 'Fraunces-700', serif;
    --tetiary-font: 'Montserrat-700', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: var(--primary-font);
    background-color: var(--body-background);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}
h1, p {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    width: 100%;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
}

main {
    max-width: 23.4375rem;
    margin: 1.75rem auto;
    padding: 0 1rem;
}
/* section {

} */
.card {
    background-color: var(--card-background);
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    padding: 1.5rem;
}
.card__title {
    font-size: 0.75rem;
    letter-spacing: 0.3125rem;
    text-transform: uppercase;
}
.card__name {
    font-family: var(--secondary-font);
    font-size: 2rem;
    color: var(--title-color);
    line-height: 2rem;
    margin: 0.75rem 0 1rem 0;
}
.card__description {
    font-size: 0.875rem;
    line-height: 1.4375rem;
    margin-bottom: 1.5rem;
}
.card__price {
    font-family: var(--secondary-font);
    font-size: 2rem;
    color: var(--btn-background);
    margin-bottom: 1.25rem;
    line-height: 2rem;

    display: flex;
    align-items: center;
    gap: 1.1875rem;
}
.card__price span {
    font-family: var(--primary-font);
    font-size: 0.8125rem;
    color: var(--text-color);
    line-height: 1.4375rem;
    text-decoration-line: line-through;
}